<div class="container">
  <h1>Welcome to Anagram!</h1>
  <p>Hello, world!</p>

<form action="anagram" method="post">
  <input type="text" name="user_input">
  <!--<input type="text" name="user_input2">-->
  <input type="submit" value="Say It!">
</form>
</div>
<p>Anagrams:</p>

<% if @a %>
<%= @a %>
<% else %>
<%= "No anagram" %>
<% end %>